body{
    margin:0;
    padding:0;
    font-size: 16px;
}

#banner{
    background-image: url('rvm.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#banner h1{
    margin:0;

}

#services{
    background-color: rgba(110,206,178,1);
    border-color: rgba(110,206,178,1);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: fit-content;
    padding: 50px;

}

#services h2{
    margin:0;
}

#logo{
    margin-top: -35px;
}


.ph{
    top:6px;
}


